<div
  class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24"
>
  <div
    class="flex flex-col w-screen mx-auto lg:w-1/2 justify-center pt-12 pb-24 px-6 text-center"
  >
    <h1 class="font-semibold text-6xl my-2">Welcome to FitPal</h1>
    <p class="leading-normal text-3xl mt-3 mb-4">
      A personalized tool to help enhance your workout experience.
    </p>
    <button
      [routerLink]="['/register']"
      class="bg-transparent w-auto mt-3 transition ease-in-out duration-0.3 hover:bg-gray-900 text-gray-900 hover:text-white shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent"
    >
      Plan my workout
    </button>
  </div>
</div>

<div class="mx-auto flex flex-col md:flex-row items-center bg-orange-500">
  <!--Left Col-->
  <div
    class="flex flex-col w-screen mx-auto lg:w-1/2 ml-8 justify-center items-start pt-12 pb-24 px-6"
  >
    <h1 class="font-bold text-5xl my-2">Our Goal</h1>
    <p class="font-semibold text  leading-normal text-lg mt-4">
      "Looking to maximize the time you spend at the gym? For a moment, forget the latest and greatest in supplements 
      and workout gear, or the most recent fitness fad to hit the late night infomercial circuit. Something as simple 
      as keeping a workout log can help you stay focused and keep you motivated as you chase down your fitness goals."
    </p>
  </div>
  <!--Right Col-->
  <div class="w-full lg:w-1/2 lg:py-6 text-center">
    
    <img
      class="h-auto w-2/4 mx-auto ml-5 inline-block"
      src="assets/img/placeholder.png"
      alt="logo image"
      
    />
  </div>
</div>
