<!-- NAVBAR -->
<!-- FOOTER -->
<!DOCTYPE html>
    <head>
        <title>FitPal</title>
        <link rel="stylesheet" href="app.component.css">
        <meta name="viewport" content="width=device-width, intitial-scale-1.0">
        <meta charset ="utf 8">
    </head>
   
    <body>
        <div class="navbar">
            <div class="logo">
                <img src="/assets/img/placeholder.png" class="logoImg" alt="placeholder logo">
                <h1 class="logoText">FitPal</h1>
            </div>   
            <div class ="buttons">
            <a href="http://localhost:4200/Home"><button class=btnHome role="button">Home</button></a> 
            <a href="http://localhost:4200/blogs"><button class=btnBlogs role="button">Blogs</button></a>
            <a href="http://localhost:4200/plans"><button class=btnPlans role="button">Plans</button></a>
            <a href="http://localhost:4200/AddLogs"><button class=btnAddLogs role="button">Add Logs</button></a>
            <a href="http://localhost:4200/ViewLogs"><button class=btnViewLogs role="button">View Logs</button></a>
            <a href="http://localhost:4200/login"><button class=btnLogin role="button">Login</button></a>
            <a href="http://localhost:4200/register"><button class=btnRegister role="button">Register</button></a>
            </div>
        </div>

        <div class="footer">

        </div>
    </body>


<router-outlet></router-outlet>