<!-- NAVBAR -->
<!-- FOOTER -->
<!DOCTYPE html>
    <head>
        <title>FitPal</title>
        <link rel="stylesheet" href="app.component.css">
        <meta name="viewport" content="width=device-width, intitial-scale-1.0">
        <meta charset ="utf 8">
    </head>
   
    <body>
        <div class="navbar">
            <div class="logo">
                <img src="/assets/img/placeholder.png" class="logoImg" alt="placeholder logo">
                <h1 class="logoText">FitPal</h1>
            </div>   
            <div class ="buttons">
            <a href="http://localhost:4200/Home"><button class=btnHome role="button">Home</button></a> 
            <a href="http://localhost:4200/blogs"><button class=btnBlogs role="button">Blogs</button></a>
            <a href="http://localhost:4200/plans"><button class=btnPlans role="button">Plans</button></a>
            <a href="http://localhost:4200/AddLogs"><button class=btnAddLogs role="button">Add Logs</button></a>
            <a href="http://localhost:4200/ViewLogs"><button class=btnViewLogs role="button">View Logs</button></a>
            <a href="http://localhost:4200/login"><button class=btnLogin role="button">Login</button></a>
            <a href="http://localhost:4200/register"><button class=btnRegister role="button">Register</button></a>
            </div>
        </div>

        <div class="footer">
            <div class="mainFooter">    
                <div class="buttonsFt">
                    <h1 class="Pages">Pages</h1>
                    <a href="http://localhost:4200/Home"><button class=btnHomeFt role="button">Home</button></a> 
                    <a href="http://localhost:4200/blogs"><button class=btnBlogsFt role="button">Blogs</button></a>
                    <a href="http://localhost:4200/plans"><button class=btnPlansFt role="button">Plans</button></a>
                    <a href="http://localhost:4200/AddLogs"><button class=btnAddLogsFt role="button">Add Logs</button></a>
                    <a href="http://localhost:4200/ViewLogs"><button class=btnViewLogsFt role="button">View Logs</button></a>
                    <a href="http://localhost:4200/login"><button class=btnLoginFt role="button">Login</button></a>
                    <a href="http://localhost:4200/register"><button class=btnRegisterFt role="button">Register</button></a>
                </div>
                <div class="contact">
                    <h1 class="contactTxt">Connect With Us!</h1>
                    <a href="http://localhost:4200/login"><button class=btnLoginFt2 role="button">Login/Register</button></a>
                    <div class="contactImg">
                        <img src="/assets/img/placeholder.png" class="contactImg1" alt="placeholder Contact 1">
                        <img src="/assets/img/placeholder.png" class="contactImg2" alt="placeholder Contact 2">
                        <img src="/assets/img/placeholder.png" class="contactImg3" alt="placeholder Contact 3">
                        <img src="/assets/img/placeholder.png" class="contactImg4" alt="placeholder Contact 4">
                    </div>

                </div>
            </div>
            <div class="minorFooter">
                <p>© 2022 FitPal. All Rights Reserved.</p>
            </div>
        </div>
    </body>


<router-outlet></router-outlet>