<!-- NAVBAR -->
<!-- FOOTER -->
<!DOCTYPE html>
    <head>
        <title>FitPal</title>
        <link rel="stylesheet" href="app.component.css">
        <meta name="viewport" content="width=device-width, intitial-scale-1.0">
        <meta charset ="utf 8">
    </head>
   
    <body>
        <div class="navbar">
            <div class="logo">
                <img src="/assets/img/placeholder.png" class="logoImg" alt="placeholder logo">
                <h1 class="logoText">FitPal</h1>
            </div>    
            <a class="btnHome" href="http://localhost:4200/Home"><button class=btnHomeTxt>Home</button></a>
        </div>

        <div class="footer">

        </div>
    </body>


<router-outlet></router-outlet>