/* NAVBAR */
.navbar {
    position: relative;  
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 16vh;
    font-family: sans-serif;
    background-color: #dddddd;  
    border-bottom: 2px #6a6a6a solid;
}

.logo {
    position: absolute;
    top: 4vh;
    left: 4vh;

}
.logoImg {
    position: relative;
    width: 8vh;
    height: auto;
}

.logoText {
    position: absolute;
    left: 10vh;
    top: 0vw;
    font-size: 5vh;
    color: #444444;
    font-weight: bold;
}


/*Buttons*/
.buttons {
    position: relative;
    top: 5.5vh;
    left: 25vw;

}

    .btnHome{
        position: absolute;
        display:inline-block;
        padding:0.2vh 1.5vh;
        border:0.1em solid #444444;
        background-color: #FFFFFF;
        border-radius: 2px;
        box-sizing: border-box;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#444444;
        text-align:center;
        }
    .btnHome:hover{
        color:#ff6347;
        background-color:#FFFFFF;
        }
    
    
    .btnBlogs{
        position: absolute;
        display:inline-block;
        padding:0.2vh 1.5vh;
        border:0.1em solid #444444;
        background-color: #FFFFFF;
        border-radius: 2px;
        box-sizing: border-box;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#444444;
        text-align:center;
        left:10vw;
        }
    .btnBlogs:hover{
        color:#ff6347;
        background-color:#FFFFFF;
        }
    
    .btnPlans{
        position: absolute;
        display:inline-block;
        padding:0.2vh 1.5vh;
        border:0.1em solid #444444;
        background-color: #FFFFFF;
        border-radius: 2px;
        box-sizing: border-box;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#444444;
        text-align:center;
        left:20vw;
        }
    .btnPlans:hover{
        color:#ff6347;
        background-color:#FFFFFF;
        }
    
    .btnAddLogs{
        position: absolute;
        display:inline-block;
        padding:0.2vh 1.5vh;
        border:0.1em solid #444444;
        background-color: #FFFFFF;
        border-radius: 2px;
        box-sizing: border-box;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#444444;
        text-align:center;
        left: 30vw;
        }
    .btnAddLogs:hover{
        color:#ff6347;
        background-color:#FFFFFF;
        }
    
    .btnViewLogs{
        position: absolute;
        display:inline-block;
        padding:0.2vh 1.5vh;
        border:0.1em solid #444444;
        background-color: #FFFFFF;
        border-radius: 2px;
        box-sizing: border-box;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#444444;
        text-align:center;
        left: 40vw;
        }
    .btnViewLogs:hover{
        color:#ff6347;
        background-color:#FFFFFF;
        }
    
    .btnLogin{
        position: absolute;
        display:inline-block;
        padding:0.2vh 1.5vh;
        border:0.1em solid #444444;
        background-color: #FFFFFF;
        border-radius: 2px;
        box-sizing: border-box;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#444444;
        text-align:center;
        left: 52vw;
        }
    .btnlogin:hover{
        color:#ff6347;
        background-color:#FFFFFF;
        }
    
    
    .btnRegister{
        position: absolute;
        display:inline-block;
        padding:0.2vh 1.5vh;
        border:0.1em solid #444444;
        background-color: #FFFFFF;
        border-radius: 2px;
        box-sizing: border-box;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#444444;
        text-align:center;
        left: 62vw;
        }   
    .btnRegister:hover{
        color:#ff6347;
        background-color:#FFFFFF;
    }
    @media(max-width: 767px){
        .navbar {
            width: 50%;
            margin-bottom: 30px;
        }
    }


/* FOOTER */

.mainFooter {
    position: absolute;
    bottom: 4vh;
    left: 0px;
    width: 100%;
    height: 24vh;
    font-family: sans-serif;
    background-color: #444444;
    border-top: #2A2A2A 2px solid;
}

.minorFooter {
    position: absolute;  
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 4vh;
    font-family: sans-serif;
    background-color: #ffffff;  

}

.Pages {
    position: relative;
    color: #ffffff;
    font-size: 2em;
    bottom: 0vh;
    left: 0vw;
}

.buttonsFt {
    position: relative;
    bottom: 0vh;
    left: 3vw;
}
.btnHomeFt {
    position: absolute;
    color: #ffffff;
    bottom: -2.5vh;
    font-size: 1.25em;

}